<!-- Footer -->
<footer id="footer">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-md-4 gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
                    <div class="widget widget-brand">
                        <div class="logo logo-footer">
                            <a href="#"><img src="../images/logo-footer.svg" alt="Good News"></a>
                        </div>
                        <p>Dexpress - Sự lựa chọn tốt dành cho đọc giả</p>
                    </div><!-- /.widget-brand -->
                    <div class="widget widget-social">
                        <h5 class="widget-title">Theo dõi chúng tôi</h5>
                        <div class="social-list">
                            <a href="#"><img src="../images/facebook.svg" alt="image"></a>
                            <a href="#"><img src="../images/twitter.svg" alt="image"></a>
                            <a href="#"><img src="../images/youtube.svg" alt="image"></a>
                            <a href="#"><img src="../images/dribbble.svg" alt="image"></a>
                        </div>
                        <a class="email" href="#">hdl@gmail.com</a>
                    </div><!-- /.widget-social -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-4 gn-animation" data-animation="fadeInUp" data-animation-delay="0.2s" data-animation-offset="75%">
                    <div class="widget widget-twitter">
                        <h5 class="widget-title">Facebook</h5>
                        <div class="latest-tweets" data-number="3" data-username="envato" data-modpath="./twitter/index.php"></div>
                    </div><!-- /.widget-twitter -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-2 gn-animation" data-animation="fadeInUp" data-animation-delay="0.4s" data-animation-offset="75%">
                    <div class="widget widget-list">
                        <h5 class="widget-title">Chủ đề</h5>
                        <ul class="links-list">
                            <% if(listTopic && listTopic.length){ %>
                                <%listTopic.slice(0,5).forEach(item => { %>
                                    <li><a href="/topics/info-topic?topicID=<%=item._id%>"><%=item.name%></a>
                                <% })%>
							<% }%>
                        </ul>
                    </div><!-- /.widget-list -->
                </div><!-- /.col-md-2 -->
                <div class="col-md-2 gn-animation" data-animation="fadeInUp" data-animation-delay="0.6s" data-animation-offset="75%">
                    <div class="widget widget-list">
                        <h5 class="widget-title">...</h5>
                        <ul class="links-list">
                            <% if(listTopic && listTopic.length){ %>
                                <%listTopic.slice(5,10).forEach(item => { %>
                                    <li><a href="/topics/info-topic?topicID=<%=item._id%>"><%=item.name%></a>
                                <% })%>
							<% }%>
                        </ul>
                    </div><!-- /.widget-list -->
                </div><!-- /.col-md-2 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-widgets -->
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    &copy; 2020 DExpress, Inc.
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
</footer>

<!-- Login and Signup Form -->


<!-- Go Top -->
<a class="go-top">
    <i class="fa fa-chevron-up"></i>
</a>

<!-- Javascript -->
<script type="text/javascript" src="../javascript/jquery.min.js"></script>
<script type="text/javascript" src="../javascript/bootstrap.min.js"></script>
<script type="text/javascript" src="../javascript/jquery.easing.js"></script>
<script type="text/javascript" src="../javascript/matchMedia.js"></script>
<script type="text/javascript" src="../javascript/jquery-waypoints.js"></script>
<script type="text/javascript" src="../javascript/jquery.flexslider.js"></script>
<script type="text/javascript" src="../javascript/jquery.transit.js"></script>
<script type="text/javascript" src="../javascript/jquery.leanModal.min.js"></script>
<script type="text/javascript" src="../javascript/jquery.tweet.min.js"></script>
<script type="text/javascript" src="../javascript/jquery.cookie.js"></script>
<script type="text/javascript" src="../javascript/switcher.js"></script>
<script type="text/javascript" src="../javascript/jquery.doubletaptogo.js"></script>
<script type="text/javascript" src="../javascript/smoothscroll.js"></script>
<script type="text/javascript" src="../javascript/main.js"></script>
<script type="text/javascript" src="../moment/moment.min.js"></script>
<script type="text/javascript" src="../moment/moment-with-locales.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/fontawesome.min.js"></script>
<script src="/build/toastr.min.js"></script>


</body>

</html>